@using Libary.ViewModel.CardViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layoutLibary";
}
@model CardViewModels
<div class="page-content">
	<!-- inner page banner -->
	<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Cart</h1>
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
						<li class="breadcrumb-item">Cart</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- inner page banner End-->
	<!-- contact area -->
	<section class="content-inner shop-account">
		<!-- Product -->
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-12">
					<div class="table-responsive">
						<table class="table check-tbl">
							<thead>
								<tr>
									<th>Product</th>
									<th>Product name</th>
									<th>Unit</th>
									@*<th>Quantity</th>*@
									@*<th>Total</th>*@
									<th class="text-end">Close</th>
								</tr>
							</thead>
							<tbody>
								@if (Model.ListBookHistoryViewModel.Books != null && Model.ListBookHistoryViewModel.Books.Count > 0)
								{
									foreach (var item in Model.ListBookHistoryViewModel.Books)
									{
										<tr>
											<td class="product-item-img"><img src="@item.ImgUrl" alt=""></td>
											<td class="product-item-name">@item.name</td>
											<td class="product-item-price">Book</td>
											@*<td class="product-item-quantity">
												<div class="quantity btn-quantity style-1 me-3">
													<input id="demo_vertical2" type="text" value="1" name="demo_vertical2" />
												</div>
											</td>*@
											<td class="product-item-close"><a href="/Card/Disable?id=@item.id" class="ti-close"></a></td>
										</tr>
									}
								}
								else
								{
									<tr>
										<td><h2>None Book Is Added!</h2></td>
									</tr>
								}
								@*<tr>
									<td class="product-item-img"><img src="images/books/grid/book2.jpg" alt=""></td>
									<td class="product-item-name">Home</td>
									<td class="product-item-price">$28.00</td>
									<td class="product-item-quantity">
										<div class="quantity btn-quantity style-1 me-3">
											<input id="demo_vertical3" type="text" value="1" name="demo_vertical2" />
										</div>
									</td>
									<td class="product-item-totle">$28.00</td>
									<td class="product-item-close"><a href="javascript:void(0);" class="ti-close"></a></td>
								</tr>
								<tr>
									<td class="product-item-img"><img src="images/books/grid/book4.jpg" alt=""></td>
									<td class="product-item-name">Such A Fun Age</td>
									<td class="product-item-price">$28.00</td>
									<td class="product-item-quantity">
										<div class="quantity btn-quantity style-1 me-3">
											<input id="demo_vertical4" type="text" value="1" name="demo_vertical2" />
										</div>
									</td>
									<td class="product-item-totle">$28.00</td>
									<td class="product-item-close"><a href="javascript:void(0);" class="ti-close"></a></td>
								</tr>
								<tr>
									<td class="product-item-img"><img src="images/books/grid/book1.jpg" alt=""></td>
									<td class="product-item-name">Real Life</td>
									<td class="product-item-price">$28.00</td>
									<td class="product-item-quantity">
										<div class="quantity btn-quantity style-1 me-3">
											<input id="demo_vertical5" type="text" value="1" name="demo_vertical2" />
										</div>
									</td>
									<td class="product-item-totle">$28.00</td>
									<td class="product-item-close"><a href="javascript:void(0);" class="ti-close"></a></td>
								</tr>
								<tr>
									<td class="product-item-img"><img src="images/books/grid/book6.jpg" alt=""></td>
									<td class="product-item-name">Cat Adventure</td>
									<td class="product-item-price">$28.00</td>
									<td class="product-item-quantity">
										<div class="quantity btn-quantity style-1 me-3">
											<input id="demo_vertical6" type="text" value="1" name="demo_vertical2" />
										</div>
									</td>
									<td class="product-item-totle">$28.00</td>
									<td class="product-item-close"><a href="javascript:void(0);" class="ti-close"></a></td>
								</tr>
								<tr>
									<td class="product-item-img"><img src="images/books/grid/book5.jpg" alt=""></td>
									<td class="product-item-name">Take Out Tango</td>
									<td class="product-item-price">$28.00</td>
									<td class="product-item-quantity">
										<div class="quantity btn-quantity style-1 me-3">
											<input id="demo_vertical7" type="text" value="1" name="demo_vertical2" />
										</div>
									</td>
									<td class="product-item-totle">$28.00</td>
									<td class="product-item-close"><a href="javascript:void(0);" class="ti-close"></a></td>
								</tr>*@
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="widget">
						<form class="shop-form" asp-action="CreateOrder" asp-controller="Card" method="post">
							<h4 class="widget-title">Apply To Borrow</h4>		
							<div class="row">
								<div class="form-group col-lg-6">
									<input asp-for="createOrderViewModel.studentCode" type="text" class="form-control" placeholder="Student Code">
								</div>
								<div class="form-group col-lg-6">
									<input asp-for="createOrderViewModel.PhoneNumber" type="text" class="form-control" placeholder="Phone Num">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6">
									<input asp-for="createOrderViewModel.CitizenId" type="text" class="form-control" placeholder="Citizen ID">
								</div>
								<div class="form-group col-lg-6">
									<input asp-for="createOrderViewModel.DatePay" type="datetime-local" class="form-control" placeholder="Return Date">
								</div>
							</div>
							
							<div class="form-group">
								<button class="btn btn-primary btnhover" type="submit">Apply</button>
							</div>
						</form>
					</div>
				</div>
				@*<div class="col-lg-6">
					<div class="widget">
						<h4 class="widget-title">Cart Subtotal</h4>
						<table class="table-bordered check-tbl m-b25">
							<tbody>
								<tr>
									<td>Order Subtotal</td>
									<td>$125.96</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>Free Shipping</td>
								</tr>
								<tr>
									<td>Coupon</td>
									<td>$28.00</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>$506.00</td>
								</tr>
							</tbody>
						</table>
						<div class="form-group m-b25">
							<a href="shop-checkout.html" class="btn btn-primary btnhover" type="button">Proceed to Checkout</a>
						</div>
					</div>
				</div>*@
			</div>
		</div>
		<!-- Product END -->
	</section>
	<!-- contact area End-->

</div>

